

.reveal .slides{
  padding-bottom: 2em;
}
/*
.reveal .slide-background{
  display: block !important;
  background:url("background.jpg");
  background-position:center;
  background-size: cover;
}
*/

.reveal ol, .reveal dl, .reveal ul{
  margin: 0 0 0 2em;
}

.reveal pre code{
  max-height: 600px;
}

.reveal .slides > section,
.reveal .slides > section.stack > section{
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  /* padding: 0.6em; */
}

.reveal .slides > section.no-background,
.reveal .slides > section.stack > section.no-background,
.reveal .slides > section.video {
  background: transparent !important;
}
.reveal .slides > section blockquote{
  background: rgba(64, 225, 254, 0.6);
  opacity: 0.9;
}
.reveal h1 {
  font-size: 1.5em;
}

.reveal h2 {
  font-size: 1.3em;
}

.reveal h1, .reveal h2 {
  text-transform: none;
}

.reveal section img {
  border: 0 solid transparent;
  background: transparent;
  box-shadow: none;
}


.hljs {
  font-size: 80% !important;
  text-shadow: none !important;
}

.hljs-literal {
  color: #D0930E;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #D09127;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #CA791A;
}

/* .reveal .slides > section:nth-child(5){
  background: transparent !important;
} */


